input[type=text],input[type=date],input[type=password]{
    background: transparent;
    border-bottom: 1px solid #3498db;
    border-radius: 0px;
    background: #FFFFFF;
}
textarea{
    background: transparent!important;
    border-bottom: 1px solid #3498db;
    border-radius: 0px!important;
    background: #FFFFFF!important; 
}
.form-group{
    margin-bottom:6px!important;
}