.sidenav {
    z-index: 5;
    height: 100%;
    width: 5%;
    position: fixed;
    top: 38px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5px;
    font-family: "Times New Roman", Times, serif;
  }
  
  .sidenav::-webkit-scrollbar {
      width: 0.3em;
      
  }
   
  .sidenav::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
   
  .sidenav::-webkit-scrollbar-thumb {
    background-color: #2f3640;
    outline: 1px solid #dcdde1;
    border-radius:25%;
  }
  
  body::-webkit-scrollbar {
      width: 0.6em;
      
  }
   
  body::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #2f3640;
    outline: 1px solid #dcdde1;

  }
  .content{
    margin-top:80px;
  }
  .navbar {
    z-index: 6;
    position: fixed;
    width:100%;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
    text-shadow: 0 1px 2px rgba(0,0,0,.4);
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (min-height: 360px) {
    .sidenav {
      padding-top: 15px;
    }
  
    .sidenav a {
      font-size: 18px;
    }
  }
  .viewer{
    display:none;
    padding: 8px 8px 8px 32px;
    font-size: 18px;
    color: #000;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
  }
  .viewer:hover{
    font-weight:2px;
  }
  .img-nav{
    display:inline;
  }
  .nav-border{
    padding:2px;
    border-bottom:1px solid #eee; 
    margin-bottom:5px;
    cursor:pointer;
  }
  @media only screen and (max-width: 640px) {
    .sidenav {
      height: 100%;
      width: 0%;
    }
  
    .mobhide {
      display: none;
    }
  }
  
  .navbar-brand {
    color: #000 !important;
    text-shadow: 0 1px 2px rgba(0,0,0,.4);
  }
  .linker{
    font-size:16px!important;
    padding:0px!important;
  }
  .linker:hover{
    color:#3c40c6!important;
  }